#photo1,#photo3{
    height: 200px;
}
#photo2{
    height: 220px;
}
#logotyp{
    display: none;
}
#logo{
    display: none;
}
#main,#mainKontakt{
    padding-left: 10%;
    width: 80%;
    padding-right: 10%;
}